<%-include('./inc/header') %>
    
        <h1 class="text-light"> 404 Bulunamadı </h1> <br> <br>
        <div class="mt-5 ">
            <a class="text-light text-decoration-none" href="/"> --> ANASAYFAYA GİT </a>
        </div>
    <%-include('./inc/footer') %>