<%-include('./inc/header') %>
       
            <h1 class="text-center text-light">
                <%=a.abhed%>
            </h1>
            <p class="text-light">
                <%=a.abcon%>
            </p>
        <%-include('./inc/footer') %>
    