<%-include('./inc/header') %>
  <div class="card justify-content-center bg-dark" style="witdh: 18rem; ">
    <div class="card-body">
      <h2 class="card-text text-light">
        <%= a %>
      </h2>
      <a class="text-light text-decoration-none" href="<%= b %>"> --> Geri Dön </a>
    </div>
  </div>
  <%-include('./inc/footer') %>