  
<!--
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWX000KXWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMWNK0kdoooodxOKNWMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMWXKOxooooooooolooxk0XWMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMWNX0kdoooloooooooooooooodxOKNWMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMWNKOxooolooooooooooooooooooolooxk0XWMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMWNX0kdollooloooooooooooooooooooooloooodk0KNWMMMMMMMMMMMMM
MMMMMMMMMMWNKOxoollooooooloooooooooooooooooooooooooooooxOKNWMMMMMMMMMM
MMMMMMMWX0kdoooooooooooooooooooooooooooooooooooooooooooooodk0XNMMMMMMM
MMMMMMNkdoloooooooooooooooooooooooooooooooooooooooooooooooooooxOXWMMMM
MMMMMMXxooooloooooooooooooooooooooooooooooooooooooooooooooolool:oKWMMM
MMMMMMXdooooooooooooooooooooooooooooooooooooooooooooooooooolooc;:OWMMM
MMMMMMXxooooooooooooooooooooooooooooooooooooooooooooooooooooooc;:OWMMM
MMMMMMXxooooooooooooooooooooooooooooooooooooooooooooooooooooooc;:OWMMM
MMMMMMXdooooooooooooooooooooooooooooooooooooooooooooooooooolooc;:OWMMM
MMMMMMXdooooooooooooooooooooooooooooooooooooooooooooooooooolooc;:OWMMM
MMMMMMXdooooooooooooooooooooooooooooooooooooooooooooooooooooooc;:OWMMM
MMMMMMXdooooooooooooooooooooooooooooooooooooooooooooooooooooooc;:OWMMM 
        _   _   _   _   _   _   _   _     _   _   _   _   _   _    
       / \ / \ / \ / \ / \ / \ / \ / \   / \ / \ / \ / \ / \ / \ 
      ( n | e | w | - | n | o | d | e ) ( s | o | c | i | a | l )
       \_/ \_/ \_/ \_/ \_/ \_/ \_/ \_/   \_/ \_/ \_/ \_/ \_/ \_/
MMMMMMXdooooooooooooooooooooooooooooooooooooooooooooooooooooooc;:OWMMM
MMMMMMXdooooooooooooooooooooooooooooooooooooooooooooooooooooooc;:OWMMM
MMMMMMXdooooooooooooooooooooooooooooooooooooooooooooooooooooooc;:OWMMM
MMMMMMXdooooooooooooooooooooooooooooooooooooooooooooooooooooooc;:OWMMM
MMMMMMXdooooooooooooooooooooooooooooooooooooooooooooooooooooooc;:OWMMM
MMMMMMXxooooooooooooooooooooooooooooooooooooooooooooooooooooool;:OWMMM
MMMMMMXxooolooooooooooooooooooooooooooooooooooooooooooooooooooc;:OWMMM
MMMMMMW0xoloolooooooooooooooooooooooooooooooooooooooooooooollc;,c0WMMM
MMMMMMMWXkdollloooooooooooooooooooooooooooooooooooooooollc:;,;:oONMMMM
MMMMMMMMMWNKOxollloooooooooooooooooooooooooooooooooollc;,,;cdOXNWMMMMM
MMMMMMMMMMMMMWX0kdolllooooolooooooooooooooooooooolc:;,,:ok0NWMMMMMMMMM
MMMMMMMMMMMMMMMMWNKOxollloooloooooooooooooooollc:,,;cdOKNWMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMWX0kdollloooooooooooollc:;,,:lx0NWMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMWNKOxollloooooollc:;,;cdOKNWMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMWX0kdolllc:;,,:lx0XWMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNKOdoc:cdkKNWMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWNXK0KNWMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
-->
<%-include('./inc/header') %>
        
            <h2 class="text-light text-center mt-2">En Güncel Yazılar</h2>
            <li>
                <% a.forEach(function(i) { %>
                    <ul> <a class="text-light text-decoration-none" href="/content/<%=i.cid %>">
                            <%= i.chd %>
                        </a> </ul> 
                    <% }); %> <br>
            </li>
        <%-include('./inc/footer') %>
